.navbar-brand {
  font-weight: 700;
  font-size: 1.4rem;
  font-family: var(--poppins);
}

nav .container .collapse .nav-link {
  color: var(--black-80);
  font-family: var(--poppins);
  font-weight: 500;
  border-bottom: 3px solid transparent;
  transition: border-color 0.3s ease;
}

nav .container .collapse .nav-link:hover,
nav .container .collapse .nav-link.active {
  border-bottom: 3px solid var(--red-80) !important;
}

.btn-daftar {
  background-color: var(--red-80) !important;
  color: var(--white-100) !important;
  font-weight: 600;
  padding: 6px 16px;
  border-radius: 6px;
}

.btn-daftar:hover {
  background-color: var(--red-60) !important;
}

@media (max-width: 768px) {
  nav .container .collapse .nav-link {
    border-bottom: none !important;
    padding: 12px;
    border-radius: 6px;
  }

  nav .container .collapse .nav-link:active,
  nav .container .collapse .nav-link.active {
    background-color: var(--black-10);
    color: var(--black-100);
  }

  .btn-daftar,
  .btn-masuk {
    width: 46.5%;
    margin-top: 10px;
    margin-bottom: 5px;
  }
}